.search {
  flex: 1;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px !important;

  & > * {
    text-align: center;
    color: #c3acd0;
  }

  @media only screen and (max-width: 768px) {
    width: 90%;
    height: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  margin: 10px 0;
  max-height: calc(100vh - 215px);
  overflow-y: auto;
  padding: 15px;
  border: 1px solid #392467;
  border-radius: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
  }
}
